@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.pacifico {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.quicksand {
  font-family: "Quicksand";
  font-weight: 400;
  font-style: normal;
}

html {
  font-family: var(--font-quicksand);
}

h1 {
  font-family: var(--font-pacifico);
}

.searchbarBackground {
  background-color: #FFB5A7;
}

.searchInputBackground {
  background-color: rgb(248, 237, 235, 80%);
}

.searchButtonBackground {
  background-color: rgb(252, 213, 206, 80%);
}

.divBackground {
  background-color: rgb(254, 200, 154, 70%);
}

.heartIcon {
  display: inline-block;
}

.icon {
  color: black;
  height: 35px;
  width: 35px;
}

.icon path:first-of-type {
  fill: red; 
}

/* img {
  opacity: 0.4;
} */